{% extends 'base.html.twig' %}

{% block body %}
<ul id="navigation">
    {% for film in films %}
        <li>
            <a href="#">
                {{ film.title }}
            </a>
            <span>{{ film.release_date }}</span>
        </li>
    {% endfor %}
</ul>
{% endblock %}
