{% extends 'base.html.twig' %}

{% block title %}Character Master Page{% endblock %}

{% block body %}
    <h1>Character master page</h1>

    <ul id="navigation">
        {% for character in characters %}
            <li>
                <a href="{{ path('character_detail', {'id': character.id}) }}">
                    {{ character.name }}
                </a>
            </li>
            <br>
            {% for film in character.getFilms() %}
                <span>Films:</span><br>
                <span>
                    <a href="{{ path('film_detail', {'id': film.id}) }}">
                        {{ film.title }}
                    </a>
                </span><br>
            {% endfor %}
            <br>
        {% endfor %}
    </ul>
{% endblock %}
